#left {
	position: absolute;
	left: 0;
	top: 0;
	background-color: lime;
	width: 90px;
	height: 100%;
	background-image: url("./img/wood.png");
	background-repeat: no-repeat;
}

#right {
	z-index: 10;
	position: absolute;
	height: 100%;
	left: 90px;
	right: 0;
	top: 0;
	background-color: gray;
	
	padding:10px;

	-moz-box-shadow: -3px 0px 10px #000;
	-webkit-box-shadow: -3px 0px 10px #000;
	box-shadow: -3px 0px 10px #000;

	background-image: -ms-linear-gradient(right, #FFFFFF 0%, #EFEBEA 100%);
	background-image: -moz-linear-gradient(right, #FFFFFF 0%, #EFEBEA 100%);
	background-image: -o-linear-gradient(right, #FFFFFF 0%, #EFEBEA 100%);
	background-image: -webkit-gradient(linear, right top, left top, color-stop(0, #FFFFFF), color-stop(1, #EFEBEA));
	background-image: -webkit-linear-gradient(right, #FFFFFF 0%, #EFEBEA 100%);
	background-image: linear-gradient(right, #FFFFFF 0%, #EFEBEA 100%);

}
#header-container{
	width: 710px;
	padding: inherit;
}
#header{

}
#footer-container{
	width: 710px;
	padding: inherit;
}
#footer{

}
#square-container{
	width: 710px;
	height: 85%;
	overflow:auto;
	padding: inherit;
}
.square{
	border-radius: 5px;
	width: 220px;
	height: 220px;
	margin-right: 10px;
	margin-bottom: 10px;
	position: relative;
	float: left;
}
.translate {
	-webkit-transform-origin:0 0;
	-webkit-transform: translate(100px, 20px);
	-webkit-transition:-webkit-transform 0.5s ease-in-out; 
}
/* for debug */
.bordered{
	border-color: gray;
	border-width: 1px;
	border-style: dashed;
}
